body{
  margin:0;
  padding: 0;
  border:0;
  background-color: #FAB12F;
  box-sizing: content-box;
}

.app{
  box-sizing: border-box;
  border: 1px white solid;
  height: 100vh;
  width: 100vw;
}

.header{
  border: 1px white solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .2rem;  
  padding: .625rem 1.25rem;
  background: #023;
  color: #fff;
}

.btn{
  margin:.2rem;
}


